<h1 >{{titulo}}</h1>

<form >
<input type="text" name="nombre" [(ngModel)]="nombre"/><br/><br/>

<input type="text" name="apellido"[(ngModel)]="apellido"/><br/><br/>

<input type="submit" value="Registrar" (click)="registrarUser()" class="btn btn-primary"/><br/>

</form>

<br/>

<p *ngIf="registrado; else sinRegis">{{mensaje}} con el nombre de {{nombre}} y el apellido {{apellido}}</p>

<ng-template #sinRegis>


  <p>Nadie registrado</p>


</ng-template>

<br><br>


<ul >
<li *ngFor="let entrada of entradas; let i=index" ><span style="font-size:large; font-weight:bold;">{{entrada.titulos}}</span>
. Entrada {{i+1}}
</li>


</ul>